<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand ml-3" href="#">Alum<span style="color: navy;">Net</span></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- code below aligns items to the right -->
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/views/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#About">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-primary" href="/views/login.html" role="button">Sign in</a>
                  </li>
            </ul>
            </div>
          </nav>
    </header>

    <div class="jumbotron">
        <h1 class="display-4">Join the Alumni Community!</h1>
        <p class="lead">Dive into our platform, where university graduates come together to organize, attend, and reminisce about memorable events.</p>
        <hr class="my-4">
        <p>Are you a proud alum of our esteemed university? Do you wish to reconnect with your fellow graduates, share experiences, and stay updated on exciting alumni events? Look no further! Our university alumni have come together to create a vibrant online community and event platform tailored just for you.</p>
        <a class="btn btn-primary btn-lg" href="#About" role="button">Learn more</a>
      </div>

      <div class="section1" id="About">
        <div class="container text-center">
          <h1>About AlumNet</h1>
          <p class="paragragh-1">Our alumni network is more than just a collection of graduates; 
            it's a thriving community driven by the shared experiences, dreams, and aspirations of our students. 
            Our mission is to foster connections, promote professional development, and keep the spirit of our alma mater alive. 
            We believe in the power of unity and collaboration, and we've designed this platform to bring together alumni from all walks of life.
          </p>

          <div class="row justify-content-center text-center">
            <div class="col-md-4">
              <div class="card" style="width:20rem;">
                <img src="/public/Images/studlife.jpg" alt="png missing" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Events</h4>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card" style="width:20rem;">
                <img src="/public/Images/students sitting.jpg" alt="png missing" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Connect</h4>
                </div>
              </div>
            </div>

            

            <div class="col-md-4">
              <div class="card" style="width:20rem;">
                <img src="/public/Images/Uni.jpg" alt="png missing" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Build</h4>
                </div>
              </div>
            </div>

          </div>


        </div>




      </div>








    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>